{% comment %} you can always turn off the speedupkernel{% endcomment %}
{%- assign speedupkernel = true -%}
{%- assign is_admin_interface = false -%}

{%- if speedupkernel -%}
{%- if request.host contains 'myshopify.com' -%}
{%- assign is_admin_interface = true -%}
{%- else -%}
{%- assign is_admin_interface = false -%}
{%- endif -%}

{%- if request.host contains 'shopifypreview.com' -%}
{%- assign is_admin_interface = false -%}
{%- endif -%}


{%- if request.path contains 'cart' -%}
{%- assign is_admin_interface = true -%}
{%- endif -%}

{%- if request.path contains 'checkout' -%}
{%- assign is_admin_interface = true -%}
{%- endif -%}

{%- if request.path contains 'pages' -%}
{%- assign is_admin_interface = true -%}
{%- endif -%}

{%- if request.path contains 'blog' -%}
{%- assign is_admin_interface = true -%}
{%- endif -%}

{%- endif -%}
<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{{ settings.text_direction }}">
<head>
  {% include 'shop-sheriff-amp' %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="preconnect" href="https://cdn.shopify.com">
  <link rel="preconnect" href="https://fonts.shopifycdn.com">
  <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">
  <link rel="dns-prefetch" href="https://ajax.googleapis.com">
  <link rel="dns-prefetch" href="https://maps.googleapis.com">
  <link rel="dns-prefetch" href="https://maps.gstatic.com">

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {%- endif -%}

  {%- render 'seo-title' -%}

  {%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {%- render 'social-meta-tags' -%}

  {%- render 'font-face' -%}
  <link rel="preload" href="https://fonts.shopifycdn.com/twentieth_century/twentiethcentury_n4.1a7b2b68023505e1927302cc60a155187098ca59.woff2?h1=YXJvbWVseS5jb20&hmac=f2e34e463fffea1a76110f365c622a67d25a0e095e8e7f5cfde4ffbf7a428ef4" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="https://fonts.shopifycdn.com/twentieth_century/twentiethcentury_n6.0d3b76303d4b4a3612edbc69654ac2a8ca6886a4.woff2?h1=YXJvbWVseS5jb20&hmac=76fd9be1eb994640eec0ea9f016fcc4220ae253a332cd597aed4fcc6042387ff" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="https://fonts.shopifycdn.com/tenor_sans/tenorsans_n4.ef7b684f1cfa0d3a90338d1fa5f36acdf7889632.woff2?h1=YXJvbWVseS5jb20&hmac=23dde5f0b126ae1d812a0192c9b71137e4f3f8906574f99b55c6313cf53c6c69" as="font" type="font/woff2" crossorigin>
  {{ 'theme.css' | asset_url | stylesheet_tag }}

  {% if template contains 'index' %}
  {% render '__home-css' %}
  {% elsif template contains 'product' %}
  {% render '__product-css' %}
  {% elsif template contains 'collection' %}
  {% render '__collection-css' %}
  {% else %}
  <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}"/>
  {% endif %}
  
  {%- render 'css-variables' -%}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = window.theme || {};
    theme.routes = {
      home: "{{ routes.root_url }}",
      cart: "{{ routes.cart_url | append: '.js' }}",
      cartPage: "{{ routes.cart_url }}",
      cartAdd: "{{ routes.cart_add_url | append: '.js' }}",
      cartChange: "{{ routes.cart_change_url | append: '.js' }}"
    };
    theme.strings = {
      soldOut: {{ 'products.product.sold_out' | t | json }},
      unavailable: {{ 'products.product.unavailable' | t | json }},
      inStockLabel: {{ 'products.product.in_stock_label' | t | json }},
      stockLabel: {{ 'products.product.stock_label' | t: count: '[count]' | json }},
      willNotShipUntil: {{ 'products.product.will_not_ship_until' | t: date: '[date]' | json }},
      willBeInStockAfter: {{ 'products.product.will_be_in_stock_after' | t: date: '[date]' | json }},
      waitingForStock: {{ 'products.product.waiting_for_stock' | t | json }},
      savePrice: {{ 'products.general.save_html' | t: saved_amount: '[saved_amount]' | json }},
      cartEmpty: {{ 'cart.general.empty' | t | json }},
      cartTermsConfirmation: {{ 'cart.general.terms_confirm' | t | json }},
      searchCollections: {{ 'general.search.collections' | t | json }},
      searchPages: {{ 'general.search.pages' | t | json }},
      searchArticles: {{ 'general.search.articles' | t | json }}
    };
    theme.settings = {
      dynamicVariantsEnable: true,
      cartType: {{ settings.cart_type | json }},
      isCustomerTemplate: {% if request.page_type contains 'customers/' %}true{% else %}false{% endif %},
      moneyFormat: {{ shop.money_format | json }},
      saveType: {{ settings.product_save_type | json }},
      productImageSize: {{ settings.product_grid_image_size | json }},
      productImageCover: {{ settings.product_grid_image_fill }},
      predictiveSearch: {{ settings.predictive_search_enabled }},
      predictiveSearchType: {{ settings.search_type | json }},
      quickView: {{ settings.quick_shop_enable }},
      themeName: 'Impulse',
      themeVersion: "5.0.1"
    };
  </script>

  {%include '__opt_system-headers'%}
  {{ content_for_header }}

  <script src="{{ 'vendor-scripts-v10.js' | asset_url | split: '?' | first }}" defer="defer"></script>

  {%- if shop.enabled_currencies.size > 1 -%}
    <link rel="preload" as="style" href="{{ 'currency-flags.css' | asset_url | split: '?' | first }}" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="{{ 'currency-flags.css' | asset_url | split: '?' | first }}">
  {%- endif -%}

  <script src="{{ 'theme.min.js' | asset_url }}" defer="defer"></script>

  {%- if request.page_type contains 'customers/' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}
<script>var scaaffCheck = false;</script>
  <script type="lazyload2" data-src="{{ 'sca_affiliate.js' | asset_url }}"/></script>

{% render 'gsf-conversion-pixels' %}
{% if template contains 'product' %}
  <link rel="amphtml" href="//{{shop.domain}}/apps/fireamp/products/{{product.handle}}" >
{% endif %}
{% if template contains 'collection' %}
  {% assign collectionpageurl = content_for_header| split:'"pageurl":"' | last | split:'"' | first %}
  {% assign collectionHandle = collectionpageurl | split : "collections\/" | last %}
  {% if collectionpageurl contains '?' or collectionHandle contains '/' %}
  {% else %}
  <link rel="amphtml" href="//{{shop.domain}}/apps/fireamp/collections/{{collection.handle}}" >
  {% endif %}
{% endif %}
{% if template contains 'blog' %}  
  <link rel="amphtml" href="//{{shop.domain}}/apps/fireamp/blogs/{{blog.handle}}" >
{% endif %}
{% if template contains 'article' %}
  <link rel="amphtml" href="//{{shop.domain}}/apps/fireamp/blogs/{{article.handle}}" >
{% endif %}
{% render 'weglot_hreftags' %}
{% render 'weglot_switcher' %}

  {% render 'shogun-head' %}
</head>


<body class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if request.path == '/challenge' %} template-challange{% endif %}" data-center-text="{{ settings.type_body_align_text }}" data-button_style="{{ settings.button_style }}" data-type_header_capitalize="{{ settings.type_header_capitalize }}" data-type_headers_align_text="{{ settings.type_headers_align_text }}" data-type_product_capitalize="{{ settings.type_product_capitalize }}" data-swatch_style="{{ settings.swatch_style }}" {% if settings.disable_animations %}data-disable-animations="true"{% endif %}>

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <div id="PageContainer" class="page-container">
    <div class="transition-body">

    {%- section 'header' -%}

      <main class="main-content" id="MainContent">
        {{ content_for_layout }}
      </main>

      {%- section 'footer-promotions' -%}
      {%- section 'footer' -%}

    </div>
  </div>

  {%- section 'newsletter-popup' -%}

  {%- liquid
    render 'video-modal'
    render 'photoswipe-template'
  -%}

  <script type="text/javascript" src="{{ '__vendor.js' | asset_url }}"></script>
  <script type="text/javascript" src="{{ '_opti-main.js' | asset_url }}"></script>
  
</body>
</html>
